<div class="outerWrapper">
  <div class="top">
    <button [routerLink]="'/home'" mat-fab class="button1">
      <mat-icon>arrow_backward</mat-icon>
    </button>

    <button [routerLink]="'/skills'" mat-fab class="button2">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
  <div class="MWrapper">
    <img src="../../../assets/blockM.png" alt="" class="blockM" />
  </div>
  <div class="content">
    <div class="box">
      <h1>Education Focus</h1>
      <div class="list">
        <ul>
          <li>
            I am studying Computer Science and Entrepreneurship in order to
            develop both my technical expertise as well as my interpersonal
            skillset. I strive to work in the intersection of engineering and
            business and deliver tangible, digital products to the world.
          </li>
        </ul>
      </div>
    </div>
    <div class="box">
      <h1>Extracurriculars</h1>
      <div class="list">
        <ul>
          <li>Alpha Kappa Psi Professional Business Fraternity</li>
          <li>Theta Chi Social Fraternity</li>
          <li>Rick's American Cafe Bartender</li>
          <li>Monster Energy Student Brand Ambassador</li>
          <li>Door Dash Driver</li>
        </ul>
      </div>
    </div>
    <div class="box">
      <h1>Relevant Classes</h1>
      <div class="list">
        <ul>
          <li>Data Structures & Algorithms</li>
          <li>Computer Organization</li>
          <li>Machine Learning</li>
          <li>Web Systems</li>
          <li>Linear Algebra</li>
          <li>Discrete Mathematics</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="poleWrapper">
    <div></div>
    <div class="pole">&nbsp;</div>
    <div class="pole">&nbsp;</div>
    <div></div>
  </div>
  <div class="flagWrapper">
    <div class="akpsiFlag">
      <img src="../../../assets/takpsiflag.jpg" class="akpsi" />
    </div>
    <div class="oxFlag">
      <img src="../../../assets/oxFlag.png" class="ox" />
    </div>
  </div>
</div>
