@keyframes Michigan {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes poles {
  0% {
    margin-top: 0vh;
  }
  50% {
    margin-top: 0vh;
  }
  100% {
    margin-top: -100vh;
  }
}
.top {
  position: absolute;
  top: 5vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100vw;
  .button1 {
    background-color: #ffcb05;
    color: #00274c;
    left: 5vw;
  }
  .button2 {
    background-color: #ffcb05;
    color: #00274c;
    right: 5vw;
  }
}
.outerWrapper {
  background-color: #00274c;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.MWrapper {
  height: 30vh;
  width: 25vw;
}
.blockM {
  height: 100%;
  width: 100%;
  animation-name: Michigan;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

.content {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  font-size: large;
  .box {
    background-color: #00274c;
    text-align: center;
    border-radius: 20%;
    border-style: solid;
    border-width: thick;
    border-color: #ffcb05;
    height: 200px;
    width: 390px;

    .list {
      text-align: left;
      height: 100px;
    }
  }
}

.poleWrapper {
  position: absolute;
  width: 100vw;
  height: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  margin-top: 75vh;
  .pole {
    width: 10px;
    margin-bottom: -200vh;
    height: 200vh;
    background-color: #38190d;
    margin-right: 10vw;
    margin-left: 10vw;
    z-index: 1000;
    border-style: solid;
    border-width: medium;
    border-color: #724027;

    animation-name: poles;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

@keyframes flags {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.oxFlag {
  height: 125px;
  width: 200px;
  position: absolute;
  top: 25vh;
  right: 18.5vw;
  .ox {
    opacity: 0;
    height: 100%;
    width: 100%;
    animation-name: flags;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}
.akpsiFlag {
  height: 125px;
  width: 200px;
  position: absolute;
  top: 25vh;
  left: 18.5vw;
  .akpsi {
    opacity: 0;
    height: 100%;
    width: 100%;
    animation-name: flags;
    animation-delay: 2s;

    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

@media screen and (min-width: 1920px) {
  .oxFlag {
    top: 30vh;
    right: 21.5vw;
  }
  .akpsiFlag {
    top: 30vh;
    left: 21.5vw;
  }
}
