<div class="outerWrapper">
  <p>
    Skills
  </p>
  <div class="tableWrap">
    <div class="columns">
      <div>
        <p>
          Languages
        </p>
      </div>
      <div class="entry">
        <div class="items">
          <div class="imageWrap">
            <img src="../../../assets/c.svg" class="image" />
          </div>
          <p>C++/C</p>
        </div>
        <div class="progressbar"></div>
        <p>Proficient</p>
      </div>
      <div class="entry">
        <div class="items">
          <div class="imageWrap">
            <img src="../../../assets/python.svg" class="image" />
          </div>
          <p>Python</p>
        </div>
        <div class="progressbar"></div>
      </div>
      <div class="entry1">
        <div class="items">
          <div class="imageWrap">
            <img src="../../../assets/javascript.svg" class="image" />
          </div>
          <p>JavaScript</p>
        </div>
        <div class="progressbar"></div>
      </div>
      <div class="entry">
        <div class="items">
          <div class="imageWrap">
            <img src="../../../assets/html.svg" class="image" />
          </div>
          <p>HTML</p>
        </div>
        <div class="progressbar"></div>
      </div>
      <div class="entry">
        <div class="items">
          <div class="imageWrap">
            <img src="../../../assets/css.svg" class="image" />
          </div>
          <p>CSS</p>
        </div>
        <div class="progressbar"></div>
      </div>
    </div>
    <div class="columns">
      <p>duuhhh</p>
    </div>
    <div class="columns">
      <div>
        <p>
          Frameworks/Tools
        </p>
      </div>
      <div class="entry">
        <div class="items">
          <div class="imageWrap">
            <img src="../../../assets/angular.svg" class="image" />
          </div>
          <p>Angular</p>
        </div>
        <div class="progressbar"></div>
      </div>
      <div class="entry">
        <div class="items">
          <div class="imageWrap">
            <img src="../../../assets/react.svg" class="image" />
          </div>
          <p>React</p>
        </div>
        <div class="progressbar"></div>
      </div>
      <div class="entry2">
        <div class="items">
          <div class="imageWrap">
            <img src="../../../assets/aws.svg" class="image" />
          </div>
          <p>AWS</p>
        </div>
        <div class="progressbar"></div>
      </div>
      <div class="entry">
        <div class="items">
          <div class="imageWrap">
            <img src="../../../assets/github.svg" class="image" />
          </div>
          <p>Github</p>
        </div>
        <div class="progressbar"></div>
      </div>
      <div class="entry1">
        <div class="items">
          <div class="imageWrap">
            <img src="../../../assets/office.svg" class="image" />
          </div>
          <p>Office 365</p>
        </div>
        <div class="progressbar"></div>
      </div>
    </div>
  </div>
</div>
