<div class="outerWrapper">
  <div class="topWrapper">
    <div class="introWrapper">
      <h1 class="intro">Hi, I'm Tyler LaMendola</h1>
      <h1 class="jobs">Software Engineer, Product Manager</h1>
      <h2>
        I am a Junior at the University of Michigan studying Computer Science
        and Entrepreneurship passionate about delivering digital products to the
        world.
      </h2>
    </div>
    <div class="profilePictureWrapper">
      <img
        src="../../../assets/tylerHeadCasual.svg"
        alt="Avatar"
        class="profilePicture"
      />
    </div>
  </div>
  <div class="block1"></div>
  <div class="block2"></div>
  <div class="block3"></div>
  <div class="block4"></div>
  <div class="block5"></div>
  <div class="block6"></div>
  <div class="block7"></div>
  <div class="block8"></div>
  <div class="content">
    <div class="welcome">
      <div class="text">
        Welcome! Click the button to get started
      </div>

      <div class="example-button-container">
        <button [routerLink]="'/aboutMe'" mat-fab>
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
